body {
    padding-top: 128px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-link {font: bold 16px Arial;color: gray;}

/*Tamanho do placeholder*/
.form-control {min-width: 100px;}

.div-produto {
    display: grid;
    width: auto;
    max-width: 1400px;
    min-width: 480px;
    min-height: 150px;
    align-content: start;
    padding: 10px;
    gap: 10px;
    grid-template-columns: auto auto;
    border: solid 1px black;
    border-radius: 5px;
}

.info-prod {text-align: left;font: bold 20px Arial;}
.nome-prod {color: black;}
.descricao-prod {color: black;font: normal 14px Arial;}
.preco-prod {color: green;}
.produto {
    border-radius: 3px;
    display: flex;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 680px;
    height: 100%;
    padding: 10px;
    margin: auto;
    border: solid 1px black;
}

img {
    width: 180px;
    height: 140px;
}

.produto:hover {
    background-color: wheat;
}

.link {
    text-decoration: none;
    font: bold 14px Arial;
    color: gray;
}


@media (min-width: 767px) and (max-width: 992px) {

    .div-produto {
        padding: 5px;
        grid-template-columns: auto auto;
    }

    .produto {
        width: auto;
        height: auto;
        max-height: 200px;
    }

    .info-prod {
        width: 100%;
        max-width: 180px;
        height: 150px;
    }

    .descricao-prod {
        max-height: 70px;
        overflow: hidden;
    }

    img {
        width: auto;
        max-width: 120px;
        height: 150px;
    }
}
@media (min-width:577px) and (max-width: 767px) {
    .div-produto {
        grid-template-columns: auto;
    }

    .produto {
        width: auto;
        min-width: 450px;
        margin: auto;
        padding: 5px;
    }
    .descricao-prod {
        width: 100%;
        max-width: 100px;
        max-height: 85px;
        overflow: hidden;
    }

    img {
        width: 100%;
        min-width: 50px;
        max-height: 150px;
    }
}

@media (max-width: 576px) {
    .div-produto{
        width: 100%;
        max-width: 400px;
        grid-template-columns: auto;
    }
    .produto{
        width: 100%;
    }
}